header .main-title {
  text-align: center;
  font-size: 60px;
  margin: auto;
  padding: 20px 0px;
  font-family: $titlefontfamily;
  text-decoration: none;
}
header .main-title a {
  text-decoration: none;
  color: black;
}
header .main-line {
  height: 1.5px;
  width: 850px;
  background-color: $mainlinecolor;
  margin: auto;
}
header .main-docker {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: $maindockeracolor;
  font-family: $fontfamily;
  margin: auto;
}
header .main-docker ul {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
  font-size: 20px;
  margin: auto;
  color: $maindockeracolor;
  font-family: $fontfamily;
}
header .main-docker ul li {
  flex: 1;
  text-align: center;
  color: $maindockeracolor;
  font-family: $fontfamily;
}
header .main-docker ul li a {
  display: block;
  padding: 0;
  width: 170px;
  color: $maindockeracolor;
  text-decoration: none;
  font-family: $fontfamily;
}
header .main-docker :hover {
  color: $maindockerhovercolor;
}
footer {
  width: 850px;
  margin: auto;
}
.footer-info {
  text-align: center;
  color: #c2c6eb;
  padding: 50px;
  font-family: 'Baskerville', 'Palatino Linotype', "SourceHanSerif", 'Songti', 'SIMSUN', 'Hiragino Mincho ProN', 'Yu Mincho';
}
.footer-info a {
  color: #6766f1;
  text-decoration: none;
  font-family: 'Baskerville', 'Palatino Linotype', "SourceHanSerif", 'Songti', 'SIMSUN', 'Hiragino Mincho ProN', 'Yu Mincho';
}
.home-line {
  height: 2px;
  width: 100%;
  background-color: #dcdeeb;
  margin: 10px 0px;
}
.home-post-article {
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  padding: 10px 0px;
}
.home-post-title {
  text-decoration: none;
  font-size: 30px;
  padding: 5px 0px;
  width: 850px;
  letter-spacing: 2px;
}
.home-post-title a {
  text-decoration: none;
  color: #000;
}
.home-post-title :hover {
  color: #6766f1;
}
.home-picture {
  width: 70%;
}
.home-picture img {
  height: auto;
}
.home-post {
  font-family: 'Times New Roman', "SourceHanSerif", 'Songti', 'SIMSUN', 'PingFang SC', 'Hiragino Mincho ProN', 'Yu Mincho';
  width: 850px;
  margin: auto;
  padding: 20px;
  align-items: center;
  font-size: 15px;
}
.home-post-excerpt {
  font-family: 'Times New Roman', "SourceHanSerif", 'Songti', 'SIMSUN', 'PingFang SC', 'Hiragino Mincho ProN', 'Yu Mincho';
  padding: 10px 10px 0px 0px;
  letter-spacing: 1.3px;
}
.home-flex-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 850px;
}
.pagination {
  position: relative;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.pagination-prev,
.pagination-next {
  font-size: 10px;
  line-height: 30px;
  height: 32px;
  padding: 0 20px;
  border-radius: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.page-line {
  height: 2px;
  width: 100%;
  background-color: #dcdeeb;
  margin: 10px 0px;
}
.page-post {
  font-family: 'Times New Roman', "SourceHanSerif", 'Songti', 'SIMSUN', 'PingFang SC', 'Hiragino Mincho ProN', 'Yu Mincho';
  width: 850px;
  margin: auto;
  padding: 20px;
  align-items: center;
}
.page-title {
  font-size: 30px;
  font-family: 'Times New Roman', "SourceHanSerif", 'Songti', 'SIMSUN', 'PingFang SC', 'Hiragino Mincho ProN', 'Yu Mincho';
  padding: 5px 0px;
  letter-spacing: 2px;
}
.page-time {
  font-size: 14px;
  font-style: italic;
  color: #dcdeeb;
  font-family: 'Times New Roman', "SourceHanSerif", 'Songti', 'SIMSUN', 'PingFang SC', 'Hiragino Mincho ProN', 'Yu Mincho';
}
.page-content {
  font-size: 18.7px;
  font-family: 'Times New Roman', "SourceHanSerif", 'Songti', 'SIMSUN', 'PingFang SC', 'Hiragino Mincho ProN', 'Yu Mincho';
  letter-spacing: 1.2px;
  line-height: 190%;
}
.page-content img {
  max-width: 100%;
  height: auto;
}
.page-content a {
  text-decoration: none;
  color: #6766f1;
}
.gallery-post {
  font-family: 'Times New Roman', "SourceHanSerif", 'Songti', 'SIMSUN', 'PingFang SC', 'Hiragino Mincho ProN', 'Yu Mincho';
  width: 850px;
  margin: auto;
  padding: 20px;
  align-items: center;
  font-size: 15px;
}
.novel-post {
  font-family: 'Times New Roman', "SourceHanSerif", 'Songti', 'SIMSUN', 'PingFang SC', 'Hiragino Mincho ProN', 'Yu Mincho';
  width: 850px;
  margin: auto;
  padding: 20px;
  align-items: center;
  font-size: 15px;
}
.novel-flex-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 850px;
}
.novel-line {
  height: 2px;
  width: 100%;
  background-color: #dcdeeb;
  margin: 10px 0px;
}
.page-article {
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  padding: 10px 0px;
}
.page-description {
  font-family: 'Times New Roman', "SourceHanSerif", 'Songti', 'SIMSUN', 'PingFang SC', 'Hiragino Mincho ProN', 'Yu Mincho';
  padding: 10px 10px 0px 0px;
  letter-spacing: 1.3px;
}
.page-title {
  text-decoration: none;
  font-size: 30px;
  padding: 5px 0px;
  width: 850px;
  letter-spacing: 2px;
}
.page-title a {
  text-decoration: none;
  color: #000;
}
.page-title :hover {
  color: #6766f1;
}
.page-picture {
  width: 70%;
}
.page-picture img {
  height: auto;
}
.novels-post {
  font-family: 'Times New Roman', "SourceHanSerif", 'Songti', 'SIMSUN', 'PingFang SC', 'Hiragino Mincho ProN', 'Yu Mincho';
  width: 850px;
  margin: auto;
  padding: 20px;
  align-items: center;
  font-size: 15px;
}
.novels-flex-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 850px;
}
.novels-title {
  text-decoration: none;
  font-size: 30px;
  padding: 5px 0px;
  width: 850px;
  letter-spacing: 2px;
}
.novels-title a {
  text-decoration: none;
  color: #000;
}
.novels-title :hover {
  color: #6766f1;
}
.novels-picture {
  width: 70%;
}
.novels-picture img {
  height: auto;
}
.original-post {
  font-family: 'Times New Roman', 'Songti', 'SIMSUN', 'PingFang SC', 'Hiragino Mincho ProN', 'Yu Mincho';
  width: 850px;
  margin: auto;
  padding: 20px;
  align-items: center;
  font-size: 15px;
}
.original-container {
  display: -webkit-flex;
  display: flex;
  width: 850px;
  height: auto;
}
.original-line {
  height: 2px;
  width: 850px;
  background-color: #dcdeeb;
  margin: 10px 0px;
}
@font-face {
  font-family: "SourceHanSerif";
  src: url("/css/fonts/SourceHanSerifCN-Regular.otf"), url("/css/fonts/SourceHanSerifSC-Regular.otf");
}
